<div class="panel-group">
	{% if comments.count() == 0 %}
	<div class="panel panel-info">
		<div class="panel-body">
			No comments yet
		</div>
	</div>
	{% else %}
	{% for comment in comments %}
	<div class="panel panel-info panel-comment">
		<div class="panel-body">
			{% for l in comment.content.splitlines() %}
			{{l}}<br>
			{% endfor %}
		</div>
		<div class="panel-footer panel-flex comment-footer">
			<div class="panel-left">
				<span classs="post_created datetime">{{comment.created.strftime("%b %d, %Y %H:%M")}}</span>
			</div>
			<div class="panel-right">
				{% if user and comment.user_comment(user.key) %}
				<a href="/deletecomment/{{comment.key.urlsafe()}}">
					Delete</a>
					/
				<a href="/editcomment/{{comment.key.urlsafe()}}">
					Edit</a>
				/
				{% endif %}
				<a href="/viewcomment/{{comment.key.urlsafe()}}">View</a>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>