{% extends "base.html" %}
{% block content %}
<h1>
	Delete Comment
</h1>
<div class="panel panel-default">
	<div class="panel-heading panel-flex">
		<div class="panel-left">
			<a href="/viewpost/{{comment.key.parent().urlsafe()}}">
				Back to post
			</a>
		</div>
		<div class="panel-right">
			<span class="post_created datetime">{{comment.created.strftime("%b %d, %Y %H:%M")}}</span>
		</div>
	</div>
	<div class="panel-body">
		{% for l in comment.content.splitlines() %}
		{{l}}<br>
		{% endfor %}
	</div>
	<div class="panel-footer panel-flex">
		<div class="panel-left">
			<form method="post" role="form">
				<div class="form-group">
					<input class="btn btn-danger" type="submit" value="Delete Comment">
				</div>
			</form>
		</div>
		<div class="panel-right">
			<a href="/viewpost/{{comment.key.parent().urlsafe()}}">
				Back to post
			</a>
		</div>
	</div>
</div>
{% endblock %}


